# Importar librerías

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor

# Dataset

In [49]:
data = pd.read_csv("Desktop/Precio café.csv")
data # Este dataset trata sobre el precio del café desde 1969 hasta 2022 (dólares por libra de café)

    Precio inicial  Precio final  Precio medio cierre
0           2.2330        1.8300               2.2517
1           1.2615        2.2610               1.6933
2           1.2710        1.2825               1.1138
3           0.9950        1.2970               1.0182
4           1.3020        1.0185               1.1360
5           1.3740        1.2620               1.3346
6           1.2390        1.3705               1.3683
7           1.6105        1.2670               1.3315
8           1.1140        1.6660               1.7840
9           1.4940        1.1070               1.2625
10          2.2720        1.4380               1.7528
11          2.3495        2.2685               2.5338
12          1.4185        2.4050               1.6416
13          1.1090        1.3595               1.2576
14          1.3400        1.1205               1.3262
15          1.2360        1.3620               1.1800
16          1.0860        1.2620               1.0847
17          1.0310        1.0710               1.0811
18          0.6860        1.0375               0.7674
19          0.6165        0.6495               0.6246
20          0.4735        0.6020               0.5400
21          0.6340        0.4620               0.5569
22          1.1650        0.6555               0.9047
23          1.2260        1.2590               1.0417
24          1.7070        1.1775               1.2930
25          1.1665        1.6245               1.7934
26          0.9125        1.1690               1.1552
27          1.6775        0.9490               1.4634
28          0.7250        1.6885               1.4484
29          0.7480        0.7155               0.6858
30          0.7900        0.7755               0.6531
31          0.8805        0.7770               0.8577
32          0.8055        0.8865               0.9082
33          1.6590        0.7955               1.0574
34          1.2630        1.5935               1.3114
35          1.3250        1.2595               1.1647
36          2.5855        1.3685               1.9958
37          1.4160        2.4130               1.4858
38          1.3780        1.4225               1.4349
39          1.3270        1.3880               1.3139
40          1.4240        1.2985               1.3565
41          1.3170        1.3970               1.2238
42          1.7760        1.2680               1.5841
43          1.3497        1.8155               1.7763
44          1.9517        1.3288               1.5637
45          2.2856        1.9203               2.3166
46          0.8710        2.2445               1.4249
47          0.5959        0.8725               0.6565
48          0.6890        0.5962               0.6702

# Entrenamiento predicción

In [63]:
colnames = data.columns.values.tolist()
predictors = colnames[:13]
target = colnames[2]
X = data[predictors]
Y = data[target]

# Árbol de regresión

In [64]:
arbolregr = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, max_depth=5, random_state=0)

In [65]:
arbolregr.fit(X,Y)

DecisionTreeRegressor(max_depth=5, min_samples_leaf=10, min_samples_split=30,
                      random_state=0)

In [66]:
Predicción = arbolregr.predict(data[predictors])

# Predicción v/s Precio final

In [67]:
data["Predicción"] = Predicción

In [68]:
data[["Predicción", "Precio final"]]

    Predicción  Precio final
0     1.761441        1.8300
1     1.761441        2.2610
2     1.210100        1.2825
3     1.210100        1.2970
4     1.210100        1.0185
5     1.210100        1.2620
6     1.210100        1.3705
7     1.210100        1.2670
8     1.761441        1.6660
9     1.210100        1.1070
10    1.761441        1.4380
11    1.761441        2.2685
12    1.761441        2.4050
13    1.210100        1.3595
14    1.210100        1.1205
15    1.210100        1.3620
16    1.210100        1.2620
17    1.210100        1.0710
18    0.711373        1.0375
19    0.711373        0.6495
20    0.711373        0.6020
21    0.711373        0.4620
22    0.711373        0.6555
23    1.210100        1.2590
24    1.210100        1.1775
25    1.761441        1.6245
26    1.210100        1.1690
27    1.761441        0.9490
28    1.761441        1.6885
29    0.711373        0.7155
30    0.711373        0.7755
31    0.711373        0.7770
32    0.711373        0.8865
33    1.210100        0.7955
34    1.210100        1.5935
35    1.210100        1.2595
36    1.761441        1.3685
37    1.761441        2.4130
38    1.761441        1.4225
39    1.210100        1.3880
40    1.210100        1.2985
41    1.210100        1.3970
42    1.761441        1.2680
43    1.761441        1.8155
44    1.761441        1.3288
45    1.761441        1.9203
46    1.761441        2.2445
47    0.711373        0.8725
48    0.711373        0.5962

# Estadísticas

In [69]:
data.describe()
# Aquí se puede apreciar el promedio del precio final, y la predicción. Se puede ver que la diferencia de precio es de 
# 0,01789 (equivalente a 17,03 pesos chilenos), haciendo la predicción muy cercana a la realidad.

       Precio inicial  Precio final  Precio medio cierre  Predicción
count       49.000000     49.000000            49.000000   49.000000
mean         1.289039      1.307312             1.289422    1.289422
std          0.492498      0.481826             0.451951    0.397789
min          0.473500      0.462000             0.540000    0.711373
25%          0.912500      1.018500             1.041700    1.210100
50%          1.263000      1.268000             1.293000    1.210100
75%          1.424000      1.438000             1.485800    1.761441
max          2.585500      2.413000             2.533800    1.761441

In [70]:
data.info() # Información del dataset, específicamente sobre las columnas, filas, dtype y los valores null.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Precio inicial       49 non-null     float64
 1   Precio final         49 non-null     float64
 2   Precio medio cierre  49 non-null     float64
 3   Predicción           49 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [71]:
data.shape # Dimensiones del dataset

(49, 4)